<!-- Navbar section -->
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Nishant</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html" style="color:white;font-size: 30px;">Portfolio</a></li>
          <li><a href="badges.html" style="color:white;font-size: 30px;">Skills</a></li>
          <li><a href="collapsible.html" style="color:white;font-size: 30px;">Blogs</a></li>
          <li><a href="mobile.html" style="color:white;font-size: 30px;">About</a></li>
        </ul>
      </div>
    </nav>
</div>


  <ul class="sidenav" id="mobile-demo">
    <li ><a href="sass.html" style="color:white;font-size: 30px;">Portfolio</a></li>
    <li class="sidenav-font"><a href="badges.html" style="color:white;font-size: 30px;" >Skills</a></li>
    <li><a href="collapsible.html" style="color:white;font-size: 30px;">Blogs</a></li>
    <li><a href="mobile.html" style="color:white;font-size: 30px;">About</a></li>
  </ul>
<!--Background Image and Parallax-->
<div class="parallax-container">
   <div class="parallax"><img src="home-bcg.jpg"></div>
</div>


<!--Scripts -->

<script>
// Sidenav
$(document).ready(function(){
$('.sidenav').sidenav();
});

//Parallax
$(document).ready(function(){
    $('.parallax').parallax();
});

</script>
