<link rel="stylesheet" href="style.css">
<div class="container-fluid">
  <div class="row">
    <div class="header">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <!-- <a class="navbar-brand" href="https://nishantsoni.tech">Nishant Soni</a> -->
  <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon " ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav ml-auto mr-auto" >

      <li class="nav-item">
        <a class="nav-link" href="/blogs" style="color: white;">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio" style="color:white;">Portfolio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills" style="color: white;">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white;">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="about-me-header ">
  <p class="about-me-header-para">
    Web Developer || Freelancer
  </p>
</div>
<div class="btn-flex fixed-bottom">
  <div class="btn btn-success btn-lg btn-round">
    <i class="fa fa-arrow-up"></i>
  </div>
  <div class="btn btn-success btn-round">
    <i class="fa fa-arrow-down"></i>
  </div>
</div>
    </div>
  </div>
</div>

<!-- Skills Section -->
<div class="container-fluid">
  <div class="row">
    <div class="skills" id="skills">
      <div class="skills-header ">
        --Skills--
      </div>
      <!-- skills cards -->
      <div class="container skills-cards">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/html.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;HTML</h3>
                <h5>Skill Level - 8/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/css.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;CSS</h3>
                <h5>Skill Level - 8/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/javascript.png" style="height:80px;" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;JAVASCRIPT</h3>
                <h5>Skill Level - 7/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/jquery.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;JQUERY</h3>
                <h5>Skill Level - 7/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

        </div>
        <br>
        <!-- Second Row -->
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/nodejs.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;Node.Js</h3>
                <h5>Skill Level - 7/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/mongodb.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;MongoDB</h3>
                <h5>Skill Level - 8/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/express.png" style="height:80px;" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;Express.Js</h3>
                <h5>Skill Level - 7/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <!-- Skill Card Starts -->
            <div class="skill-card">
              <div>
                <img src="icon/django.png" alt="" class="skill-card-img">
              </div>
              <div class="skill-card-header">
                <h3>&lt;/&gt;&nbsp;DJANGO</h3>
                <h5>Skill Level - 7/10 </h5>
              </div>
            </div>
            <!-- Skill Card Ends -->
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
