<!-- Navbar section -->
<div class="container">
  <div class="row">
    <div class="col s12 l12 m12 xl12">
      <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo hide-on-med-and-down" ><span style="color:#800080;">&lt;hello</span> <span style="color:#00FF00">name</span>=<span style="color:#00FF00">"</span>Nishant<span style="color:#00FF00">"</span><span style="color:#800080">/&gt;</span></a>
              <a href="#!" class="brand-logo hide-on-large-only"style="font-size:13px;" ><span style="color:#800080;">&lt;hello</span> <span style="color:#00FF00">name</span>=<span style="color:#00FF00">"</span>Nishant<span style="color:#00FF00">"</span><span style="color:#800080">/&gt;</span></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html" style="color:white;font-size: 30px;">Portfolio</a></li>
                <li><a href="badges.html" style="color:white;font-size: 30px;">Skills</a></li>
                <li><a href="collapsible.html" style="color:white;font-size: 30px;">Blogs</a></li>
                <li><a href="mobile.html" style="color:white;font-size: 30px;">About</a></li>
              </ul>
            </div>
          </nav>
      </div>


        <ul class="sidenav" id="mobile-demo">
          <li ><a href="sass.html" style="color:white;font-size: 30px;">Portfolio</a></li>
          <li class="sidenav-font"><a href="badges.html" style="color:white;font-size: 30px;" >Skills</a></li>
          <li><a href="collapsible.html" style="color:white;font-size: 30px;">Blogs</a></li>
          <li><a href="mobile.html" style="color:white;font-size: 30px;">About</a></li>
        </ul>
    </div>
  </div>
</div>

<!--Background Image and Parallax-->
<div class="home-bcg">
  <div class="home-header">
    Web Developer || Freelancer
  </div>
</div>

<!-- Skills Section -->
<div class="container">
  <div class="row">
    <div class="col s12 l12 m12 xl12">
      <div class="skill-header">
          <h2>--Skills--</h2>
          <div class="container">
            <div class="row">
              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/html.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
              </div>
              <div class="card-content">
                <span class="card-title activator white-text" >HTML 5<i class="material-icons right">more_vert</i></span>

              </div>
              <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">HTML 5<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:3+ Years</p>
                    <span style="color:black;">Skill Level : 8/10</span>
              </div>
            </div>

                <!--card ending -->
              </div>
              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/css.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
              </div>
              <div class="card-content">
                <span class="card-title activator white-text" >CSS 3<i class="material-icons right">more_vert</i></span>

              </div>
              <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">CSS 3<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:2+ Years</p>
                    <span style="color:black;">Skill Level : 8/10</span>
              </div>
            </div>

                <!--card ending -->
              </div>


              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/javascript.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >JAVASCRIPT (ES6)<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">ES6<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1.5 Years</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>
              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/jquery.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >JQUERY<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">JQUERY<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1.5 Years</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>
            </div>
<!-- Second Row -->
            <div class="row">
              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/materializecss.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >Materialize-CSS<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">Materialize-CSS<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:2+ Years</p>
                    <span style="color:black;">Skill Level : 8/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>

              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/nodejs.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >Node.Js<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">Node.Js<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1 Year</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>

              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/mongodb.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >MongoDB<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">MongoDB<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1 Year</p>
                    <span style="color:black;">Skill Level : 8/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>

              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/express.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >ExpressJS<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">ExpressJs<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1.5 Years</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>

                <!--card ending -->
              </div>
            </div>
<!-- Third Row -->
            <div class="row">
              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/bootstrap.png" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >Bootstrap<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">Bootstrap<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:2+ Years</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>



                <!--card ending -->
              </div>

              <div class="col l3 s12 m6 xl3">
                <!-- card starting -->

                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator align-center" src="icon/restapi.jpg" style="height:100px; width:100px;margin-left:auto;margin-right:auto;">
                </div>
                <div class="card-content">
                <span class="card-title activator white-text" >Rest Apis<i class="material-icons right">more_vert</i></span>

                </div>
                <div class="card-reveal" style="background-color:rgba(0,0,0,0.8)">
                <span class="card-title white-text ">Rest APIs<i class="material-icons right" style="color:white;">close</i></span> <hr>
                    <p>Exp:1+ Years</p>
                    <span style="color:black;">Skill Level : 7/10</span>
                </div>
                </div>



                <!--card ending -->
              </div>
            </div>

          </div>


      </div>
    </div>
  </div>


</div>

<!--Scripts -->

<script>
// Sidenav
$(document).ready(function(){
$('.sidenav').sidenav();
});

//Parallax
$(document).ready(function(){
    $('.parallax').parallax();
});

</script>
